flake8
pytest
requests
datetime
pathlib
numpy
pandas
jsons
dotenv
setuptools
streamlit
streamlit-extras
scikit-learn
scipy
statsmodels
mlflow
mlflow[auth]
Flask-WTF
pymongo
pyjwt
fastapi[all]
uvicorn
pydantic
evidently
prometheus_client
prometheus_fastapi_instrumentator